<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="NitroPack_NitroPack::menuSection" title="NitroPack.io" sortOrder="10" >
                    <resource id="NitroPack_NitroPack::menuSection_settings" title="Settings" sortOrder="100" />
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="NitroPack_NitroPack::config_nitro" title="NitroPack Settings Section"  />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
