<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <system>
            <full_page_cache>
                <varnish_servers>127.0.0.1</varnish_servers>
                <enable_nitropack>0</enable_nitropack>
            </full_page_cache>
        </system>
        <nitropack>
            <nitropack_purge>
                <purge_product>1</purge_product>
                <purge_category>1</purge_category>
                <purge_cms_pages>1</purge_cms_pages>
            </nitropack_purge>
        </nitropack>
    </default>
</config>
