<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Main NitroPack service providing access to the settings and SDK instance -->
    <preference for="NitroPack\NitroPack\Api\NitroServiceInterface" type="NitroPack\NitroPack\Api\NitroService"/>
    <type name="NitroPack\NitroPack\Api\NitroService" shared="true"></type>
    <!-- Tagging service responsible for generating tag names and keeping track of tags encountered during page rendering -->
    <preference for="NitroPack\NitroPack\Api\TaggingServiceInterface" type="NitroPack\NitroPack\Api\TaggingService"/>
    <type name="NitroPack\NitroPack\Api\TaggingService" shared="true">
        <arguments>
            <argument name="nitro" xsi:type="object" shared="true">NitroPack\NitroPack\Api\NitroServiceInterface</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Cache\Manager">
        <plugin name="after_cache_checker" type="NitroPack\NitroPack\Plugin\CacheState\CacheStateAfter"/>
    </type>

    <type name="Magento\CatalogInventory\Model\Stock\StockItemRepository">
        <plugin name="your_module_stock_item_save_before" type="NitroPack\NitroPack\Plugin\StockItemSaveBefore" sortOrder="10" disabled="false" />
    </type>

    <preference for="NitroPack\NitroPack\Model\FullPageCache\IntegratedCacheInterface" type="NitroPack\NitroPack\Model\FullPageCache\IntegratedCache"/>
    <preference for="NitroPack\NitroPack\Model\FullPageCache\PurgeInterface" type="NitroPack\NitroPack\Model\FullPageCache\PurgeCache"/>

    <preference for="NitroPack\NitroPack\Api\LogContentInterface" type="NitroPack\NitroPack\Model\LogData\LogContent"/>
    <preference for="NitroPack\NitroPack\Api\SendEmailInterface" type="NitroPack\NitroPack\Model\LogData\SendEmail"/>

    <type name="NitroPack\NitroPack\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="NitroPack\NitroPack\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">nitroPackLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">NitroPack\NitroPack\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="nitropack_purge_cache" xsi:type="object">NitroPack\NitroPack\Console\Command\Purge</item>
                <item name="nitropack_purge_cache_tags" xsi:type="object">NitroPack\NitroPack\Console\Command\PurgeByTags</item>
                <item name="nitropack_purge_cache_product_id" xsi:type="object">NitroPack\NitroPack\Console\Command\PurgeByProductId</item>
                <item name="nitropack_purge_cache_category_is" xsi:type="object">NitroPack\NitroPack\Console\Command\PurgeByCategoryId</item>
                <item name="nitropack_purge_cache_url" xsi:type="object">NitroPack\NitroPack\Console\Command\PurgeByUrl</item>
            </argument>
        </arguments>
    </type>
    <preference for="NitroPack\NitroPack\Api\PurgeManagementInterface" type="NitroPack\NitroPack\Model\Purge\PurgeManagement"/>
    <preference for="NitroPack\NitroPack\Api\ConfigInterface" type="NitroPack\NitroPack\Model\Config"/>
</config>
