<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- <event name="checkout_submit_all_after"> -->
    <event name="sales_order_save_after">
        <observer name="nitropack_cache_new_order" instance="NitroPack\NitroPack\Observer\CacheClear\NewOrderObserver"
                  shared="true"/>
    </event>
    <event name="nitropack_cache_event_after">
        <observer name="nitropack_cache_event_after" instance="NitroPack\NitroPack\Observer\NitroPackCacheChecker"/>
    </event>
    <event name="nitropack_cache_flush_after">
        <observer name="nitropack_cache_flush_after" instance="NitroPack\NitroPack\Observer\NitroPackCacheFlush"/>
    </event>
    <event name="maintenance_mode_changed">
        <observer name="nitropack_nitropack_maintenance_mode_observer" instance="NitroPack\NitroPack\Observer\MaintenanceModeObserver" />
    </event>
    <event name="clean_cache_by_tags">
        <observer name="nitropack_invalidate_observer" instance="NitroPack\NitroPack\Observer\NitroPackInvalidateObserver" />
    </event>
    <event name="clean_cache_after_reindex">
        <observer name="nitropack_invalidate_observer" instance="NitroPack\NitroPack\Observer\NitroPackInvalidateObserver"/>
    </event>
    <event name="controller_action_postdispatch_customer_group_save">
        <observer name="custom_customer_group_save_after_observer" instance="NitroPack\NitroPack\Observer\Customer\CustomerGroupSaveAfter" />
    </event>
    <event name="controller_action_postdispatch_customer_group_delete">
        <observer name="controller_action_postdispatch_customer_group_delete_observer" instance="NitroPack\NitroPack\Observer\Customer\CustomerGroupSaveAfter" />
    </event>
    <event name="install_trigger_email">
        <observer name="install_trigger_email" instance="NitroPack\NitroPack\Observer\Email\WelcomeEmail" />
    </event>
    <!--At a time of installation Assign Theme to stores after clear Nitropack Cache -->
    <event name="assign_theme_to_stores_after">
        <observer name="flush_nitropack_pagecache_assign_theme" instance="NitroPack\NitroPack\Observer\FullPageCache\Clear"/>
    </event>
    <!--After the media cache is cleared, typically following operations like clearing the image cache or other media-related caches in Magento. -->
    <event name="clean_media_cache_after">
        <observer name="flush_nitropack_pagecache_media_cache_after" instance="NitroPack\NitroPack\Observer\FullPageCache\Clear"/>
    </event>
    <!-- Catalog images cache has been successfully cleared. It allows you to implement post-cache cleaning operations. -->
    <event name="clean_catalog_images_cache_after">
        <observer name="flush_nitropack_pagecache_catalog_cache_after" instance="NitroPack\NitroPack\Observer\FullPageCache\Clear"/>
    </event>
</config>
