.nitropack-configuration-tab .admin__page-nav-title strong:before {
    background-image: url("NitroPack_NitroPack::images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    content: "";
    width: 22px;
    height: 18px;
    margin-right: 5px;
    vertical-align: text-bottom;
}
@font-face {
    font-family: 'nitropack';
    src:  url('NitroPack_NitroPack::fonts/nitropack.eot?e0o5a9');
    src:  url('NitroPack_NitroPack::fonts/nitropack.eot?e0o5a9#iefix') format('embedded-opentype'),
    url('NitroPack_NitroPack::fonts/nitropack.ttf?e0o5a9') format('truetype'),
    url('NitroPack_NitroPack::fonts/nitropack.woff?e0o5a9') format('woff'),
    url('NitroPack_NitroPack::fonts/nitropack.svg?e0o5a9#nitropack') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.admin__menu .item-nitropack.level-0 > a:before {
    font-family: 'nitropack';
    content: '\e900';
}
