<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="nitropack_cache_event_after">
        <observer name="nitropack_cache_event_after" instance="NitroPack\NitroPack\Observer\NitroPackCacheChecker"/>
    </event>
    <!-- Import Product Add bunch product and flust the cache via tag -->
    <event name="catalog_product_import_bunch_save_after">
        <observer name="nitropack_module_catalog_product_import_bunch_save_after"
                  instance="NitroPack\NitroPack\Observer\Import\CatalogProductImportBunchSaveAfter"/>
    </event>
    <!-- Cache Flush from admin events -->
    <event name="adminhtml_cache_flush_system">
        <observer name="admin_cache_flush" instance="NitroPack\NitroPack\Observer\FullPageCache\Clear"/>
    </event>
    <!-- Cache Flush from cmd events -->
    <event name="adminhtml_cache_flush_all">
        <observer name="admin_cache_flush_all" instance="NitroPack\NitroPack\Observer\FullPageCache\Clear"/>
    </event>
    <event name="nitropack_cache_flush_after">
        <observer name="nitropack_cache_flush_after" instance="NitroPack\NitroPack\Observer\NitroPackCacheFlush"/>
    </event>
    <!-- Cache Flush from cmd events -->
    <event name="admin_system_config_changed_section_system">
        <observer name="admin_system_config_changed_section_system"
                  instance="NitroPack\NitroPack\Observer\ConfigFullPageChange"/>
    </event>
    <event name="admin_system_config_changed_section_web">
        <observer name="admin_system_config_changed_section_web"
                  instance="NitroPack\NitroPack\Observer\ConfigWebChange"/>
    </event>
    <event name="store_add">
        <observer name="nitropack_add_store_view_observer" instance="NitroPack\NitroPack\Observer\StoreViewObserver" />
    </event>
    <event name="store_edit">
        <observer name="nitropack_add_store_view_observer" instance="NitroPack\NitroPack\Observer\StoreViewObserver" />
    </event>
    <event name="store_delete">
        <observer name="nitropack_add_store_view_observer" instance="NitroPack\NitroPack\Observer\StoreViewObserver" />
    </event>
    <event name="controller_action_inventory_source_save_after">
        <observer name="check_default_source" instance="NitroPack\NitroPack\Observer\Source\SourceAddObserver" />
    </event>
    <event name="product_attribute_grid_build">
        <observer name="nitropack_add_col" instance="NitroPack\NitroPack\Observer\Grid\ProductAttributeGridBuildObserver" />
    </event>
    <event name="product_attribute_form_build_main_tab">
        <observer name="nitropack_add_field" instance="NitroPack\NitroPack\Observer\Edit\Tab\Front\ProductAttributeFormBuildFrontTabObserver" />
    </event>
    <event name="controller_action_postdispatch_adminhtml_sitemap_delete">
        <observer name="nitropack_delete_sitemap_observer" instance="NitroPack\NitroPack\Observer\Sitemap\Update" />
    </event>
    <event name="controller_action_postdispatch_adminhtml_sitemap_generate">
        <observer name="nitropack_delete_sitemap_observer" instance="NitroPack\NitroPack\Observer\Sitemap\Update" />
    </event>

</config>
