<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="nitropack" translate="label" sortOrder="400" class="nitropack-configuration-tab">
            <label>NitroPack</label>
        </tab>
        <section id="nitropack" translate="label" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Settings</label>
            <tab>nitropack</tab>
            <resource>NitroPack_NitroPack::config_nitropack</resource>
            <group id="ignored_tags" translate="label" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Ignored Cache Tags</label>
            <field id="ignored_tags" translate="label comment" type="textarea" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Ignored Cache Tags</label>
                <comment> Cache tags are powerful for intelligent purging, but too many tags can impact performance. To optimize, you can now specify cache tags to be ignored during purging. This is particularly useful for common tags that appear on every page and don't significantly contribute to intelligent purging.</comment>
            </field>
            </group>
            <group id="nitropack_purge" translate="label" showInDefault="1" sortOrder="700">
                <label>Purging Configuration</label>
                <field id="purge_product" translate="label" type="select" sortOrder="1" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Product purging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="purge_category" translate="label" type="select" sortOrder="2" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Category purging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="purge_cms_pages" translate="label" type="select" sortOrder="3" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>CMS page purging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="purge_cms_block" translate="label" type="select" sortOrder="4" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>CMS page blocks</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="varnish" translate="label" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Additional Varnish Headers</label>
                <field id="varnish_additional_headers" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Headers</label>
                    <frontend_model>NitroPack\NitroPack\Block\System\Config\Field\VarnishHeaders</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
        <section id="system">
            <group id="full_page_cache" translate="label" showInDefault="1" sortOrder="600">
                <label>Full Page Cache</label>
                <field id="caching_application" translate="label" type="select" sortOrder="0" showInDefault="1"
                       canRestore="1">
                    <label>Caching Application</label>
                    <source_model>NitroPack\NitroPack\Model\System\Config\Source\Application</source_model>
                    <frontend_model>NitroPack\NitroPack\Block\System\Config\Change\Select</frontend_model>
                </field>
                <field id="varnish_enable" translate="label" type="select" sortOrder="1" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Varnish Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="caching_application">3</field>
                    </depends>
                </field>
                <field id="enable_nitropack" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Enable NitroPack</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="caching_application">42</field>
                    </depends>
                </field>
                <field id="varnish_servers" translate="label" type="text" sortOrder="2" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Reverse Proxy Server(s)</label>
                    <backend_model>NitroPack\NitroPack\Model\System\Backend\VarnishNitroPackConfig</backend_model>
                    <comment>
                        List the IPs or domains of reverse proxy servers to be connected to NitroPack.Format: &#8826;ip&#8827;:&#8826;port&#8827; or &#8826;domain&#8827;:&#8826;port&#8827;. If the port is omitted, we will use port 80
                         </comment>
                    <depends>
                        <field id="caching_application">3</field>
                        <field id="varnish_enable">1</field>
                    </depends>
                </field>
                <group id="varnish_nitro" translate="label" showInDefault="1" sortOrder="605">
                    <label>Varnish Configuration</label>
                    <field id="access_list" type="text" translate="label comment" sortOrder="15" showInDefault="1">
                        <label>Access list</label>
                        <comment>IPs access list separated with ',' that can purge Varnish configuration for config file generation.
                            If field is empty default value localhost will be saved.</comment>
                        <backend_model>Magento\PageCache\Model\System\Config\Backend\AccessList</backend_model>
                        <depends>
                            <field id="caching_application">1</field>
                        </depends>
                    </field>
                    <field id="backend_host" type="text" translate="label comment" sortOrder="20" showInDefault="1">
                        <label>Backend host</label>
                        <comment>Specify backend host for config file generation. If field is empty default value localhost will be saved.</comment>
                        <backend_model>Magento\PageCache\Model\System\Config\Backend\Varnish</backend_model>
                        <depends>
                            <field id="caching_application">1</field>
                        </depends>
                    </field>
                    <field id="backend_port" type="text" translate="label comment" sortOrder="25" showInDefault="1">
                        <label>Backend port</label>
                        <comment>Specify backend port for config file generation. If field is empty default value 8080 will be saved.</comment>
                        <backend_model>Magento\PageCache\Model\System\Config\Backend\Varnish</backend_model>
                        <depends>
                            <field id="caching_application">1</field>
                        </depends>
                    </field>
                    <field id="grace_period" type="text" translate="label comment" sortOrder="30" showInDefault="1">
                        <label>Grace period</label>
                        <comment>Specify grace period in seconds for config file generation. If field is empty default value 300 will be saved. This grace period will be used to serve cached content when the server is healthy. If the server is not healthy, cached content will be served for 3 days before failing.</comment>
                        <backend_model>Magento\PageCache\Model\System\Config\Backend\Varnish</backend_model>
                        <depends>
                            <field id="caching_application">1</field>
                        </depends>
                    </field>
                    <field id="export_button_version6" type="button" sortOrder="40" showInDefault="1">
                        <frontend_model>Magento\PageCache\Block\System\Config\Form\Field\Export\Varnish6</frontend_model>
                        <depends>
                            <field id="caching_application">1</field>
                        </depends>
                    </field>
                    <depends>
                        <field id="caching_application">3</field>
                        <field id="varnish_enable">1</field>
                    </depends>
                </group>
            </group>
        </section>
    </system>
</config>
